my/
dnx/
microsoft/
AdaptiveConsulting/
dotnet/
.vs/
.vscode/
TestPrograms/[Bb]in/
[Oo]bj/
Demo/bin
TestPrograms/TestPrograms.v11.suo
aspnet/KestrelHttpServer/
DebugScenarios/*/runtime
DebugScenarios/LastBuild/PDB
